@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #444;
    margin: 50px 50px;
    border-radius: 16px;
    box-shadow: 0px 5px 30px rgba(0,0,0,0.5);
}

.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.container-inputs>i{
    padding: 0px 10px;
    color: #4f38;
}

.form_input {
    display: inline-block;
    width: 80%;
    padding: 1px;
    margin: 3px 0;
}

.container-inputs > textarea {
    min-height: 120px;
}

.img-container {
    flex: 1;
    padding: 10px;
    display: flex;
}

.img-container img  {
    width: 100%;
    margin: auto;
}